@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 60% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 60% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 60% 4.9%;

    --primary: 205 88% 21%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 30% 96.1%;
    --secondary-foreground: 225 60% 22%;

    --muted: 225 25% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 225 25% 96.1%;
    --accent-foreground: 225 60% 22%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 30% 98%;

    --border: 225 20% 91.4%;
    --input: 225 20% 91.4%;
    --ring: 205 88% 21%;

    --radius: 0.5rem;

    --icon-bg: 220 10% 93%;

    --sidebar-background: 225 15% 98%;
    --sidebar-foreground: 225 40% 26.1%;
    --sidebar-primary: 205 88% 21%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 10% 95.9%;
    --sidebar-accent-foreground: 225 60% 22%;
    --sidebar-border: 225 10% 91%;
    --sidebar-ring: 225 60% 59.8%;

    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
  }

  .dark {
    --background: 222.2 60% 4.9%;
    --foreground: 210 30% 98%;

    --card: 222.2 60% 4.9%;
    --card-foreground: 210 30% 98%;

    --popover: 222.2 60% 4.9%;
    --popover-foreground: 210 30% 98%;

    --primary: 205 88% 21%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 25% 17.5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 225 25% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 225 25% 17.5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 30% 98%;

    --border: 225 25% 17.5%;
    --input: 225 25% 17.5%;
    --ring: 205 88% 21%;

    --icon-bg: 220 10% 20%;

    --sidebar-background: 225 40% 10%;
    --sidebar-foreground: 225 10% 95.9%;
    --sidebar-primary: 205 88% 21%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 15% 15.9%;
    --sidebar-accent-foreground: 225 10% 95.9%;
    --sidebar-border: 225 15% 15.9%;
    --sidebar-ring: 225 60% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }

  /* 默认使用Inter字体，但允许通过特定类使用Ubuntu字体 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-ubuntu {
    font-family: "Ubuntu", sans-serif;
  }
}

@layer utilities {
  .text-primary-color {
    @apply text-primary;
  }

  .bg-primary-color {
    @apply bg-primary;
  }

  .border-primary-color {
    @apply border-primary;
  }
}
